<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/allergy_info.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nerko+One&display=swap"
        rel="stylesheet">
</head>
<body>
    <header>

    </header>
    <main>
        <dir>
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="새우" name="allergy_name">
                <button class="btn-allergy_info">새우</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="굴" name="allergy_name">
                <button class="btn-allergy_info">굴</button>
            </form>

            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="게" name="allergy_name">
                <button class="btn-allergy_info">게</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="홍합" name="allergy_name">
                <button class="btn-allergy_info">홍합</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="오징어" name="allergy_name">
                <button class="btn-allergy_info">오징어</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="전복" name="allergy_name">
                <button class="btn-allergy_info">전복</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="고등어" name="allergy_name">
                <button class="btn-allergy_info">고등어</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="조개류" name="allergy_name">
                <button class="btn-allergy_info">조개류</button>
            </form>
            
            <br>

            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="메밀" name="allergy_name">
                <button class="btn-allergy_info">메밀</button>
            </form>

            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="밀" name="allergy_name">
                <button class="btn-allergy_info">밀</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="대두" name="allergy_name">
                <button class="btn-allergy_info">대두</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="호두" name="allergy_name">
                <button class="btn-allergy_info">호두</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="땅콩" name="allergy_name">
                <button class="btn-allergy_info">땅콩</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="잣" name="allergy_name">
                <button class="btn-allergy_info">잣</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="알류" name="allergy_name">
                <button class="btn-allergy_info">알류</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="우유" name="allergy_name">
                <button class="btn-allergy_info">우유</button>
            </form>
            
            <br>

            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="쇠고기" name="allergy_name">
                <button class="btn-allergy_info">쇠고기</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="돼지고기" name="allergy_name">
                <button class="btn-allergy_info">돼지고기</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="닭고기" name="allergy_name">
                <button class="btn-allergy_info">닭고기</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="복숭아" name="allergy_name">
                <button class="btn-allergy_info">복숭아</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="토마토" name="allergy_name">
                <button class="btn-allergy_info">토마토</button>
            </form>
            
            <form action="/allergy_info-getinfo" method="post">
                <input type="text" style="opacity: 0; width: 0px;" value="아황산류" name="allergy_name">
                <button class="btn-allergy_info">아황산류</button>
            </form>
            
 
        </dir>

        <dir>
            <h1><%=list[0].allergy_name %></h1>
            <h1><%=list[0].allergy_info %></h1>
        </dir>
    </main>
    <footer>

    </footer>
</body>
</html>