<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/allergy_info.css">
    <link rel="stylesheet" href="css/btn.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nerko+One&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

    </header>
    <main class="allergy_info-main">

        <dir class="allergy_info-back_btn">
            <form action="/mv-main_page" method="get">
                <button class="set_btn back_btn">
                    <i class="fas fa-arrow-circle-left"></i>
                </button>
                <span>back</span>
            </form>
        </dir>

        <dir>
            <div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="새우" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/새우.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="굴" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/굴.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="게" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/게.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="홍합" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/홍합.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="오징어" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/오징어.png" alt=""></button>
                    </form>
                </div>
            </div>
            <div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="전복" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/전복.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="고등어" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/고등어.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="조개류" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/조개류.png" alt=""></button>
                    </form>
                </div>
                <br>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="메밀" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/메밀.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="밀" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/밀.png" alt=""></button>
                    </form>
                </div>
            </div>
            <div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="대두" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/대두.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="호두" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/호두.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="땅콩" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/땅콩.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="잣" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/잣.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="알류" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/가금류.png" alt=""></button>
                    </form>
                </div>
            </div>
            <div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="우유" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/우유.png" alt=""></button>
                    </form>
                </div>
                <br>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="쇠고기" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/쇠고기.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="돼지고기" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/돼지고기.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="닭고기" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/닭고기.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="복숭아" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/복숭아.png" alt=""></button>
                    </form>
                </div>
            </div>
            <div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="토마토" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/토마토.png" alt=""></button>
                    </form>
                </div>
                <div>
                    <form action="/allergy_info-getinfo" method="post">
                        <input type="text" style="opacity: 0; width: 0px;" value="아황산류" name="allergy_name">
                        <button class="btn-allergy_info"><img src="/img/아황산류.png" alt=""></button>
                    </form>
                </div>
            </div>

        </dir>

        <dir class="allergy_info-">
            <% if(list.length !== 0) { %>

            <h1><%=list[0].allergy_name %> </h1> <br>
            <h1><%=list[0].allergy_info %></h1>

            <% } %>
        </dir>
    </main>
    <footer>
        <script src="https://kit.fontawesome.com/c9ac2544ad.js" crossorigin="anonymous"></script>
    </footer>
</body>

</html>