<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/insert_info.css">
    <link rel="stylesheet" href="css/btn.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nerko+One&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

    </header>
    <main class="insert_info-main">

        <dir class="insert-btn">
            <form action="/mv-main_page" method="get">
                <button class="set_btn">
                    <i class="fas fa-arrow-circle-left"></i>
                </button>
                <span>back</span>
            </form>
        </dir>

        <form action="insert_info-submit_temp" method="post">
            <div>
                <h1>음식 이름</h1>
                <input type="text" name="food_name" placeholder="food name">
                
            </div>
            
            
            <div>
                <h1>음식 정보 입력</h1>
                <textarea name="food_info" id="" cols="30" rows="10" maxlength="254"></textarea>
                
            </div>
            <div class="select_allergy-more_info">
                <br>
                <span>
                    <input type="checkbox" name="checkbox_shrimp">
                    <label for="checkbox-shrimp">새우</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_oyster">
                    <label for="checkbox-oyster">굴</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_creb" >
                    <labelfor="checkbox-creb">게</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_mussel">
                    <label for="checkbox-mussel">홍합</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_squid" > 
                    <label for="checkbox-squid">오징어</label>
                </span>
                <br><br>
                <span>
                    <input type="checkbox" name="checkbox_abalone">
                    <label for="checkbox-abalone">전복</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_Mackerel" >
                    <label for="checkbox-Mackerel">고등어</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_shellfish"> 
                    <label for="checkbox-shellfish">조개류</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_buckwheat"> 
                    <label for="checkbox-buckwheat">메밀</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_wheat" > 
                    <label for="checkbox-wheat">밀</label>
                </span>
                <br><br>
                <span>
                    <input type="checkbox" name="checkbox_soybean" >
                    <label for="checkbox-soybean">대두</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_walnut" >
                    <label for="checkbox-walnut">호두</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_peanut" >
                    <label for="checkbox-peanut">땅콩</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_pinenuts" >
                    <label for="checkbox-pinenuts">잣</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_poultry" >
                    <label for="checkbox-poultry">알류</label>
                </span>
                <br><br>
                <span>
                    <input type="checkbox" name="checkbox_milk" > 
                    <label for="checkbox-milk">우유</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_beef" > 
                    <label for="checkbox-beef">쇠고기</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_fork" > 
                    <label for="checkbox-fork">돼지고기</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_chicken">
                    <label for="checkbox-chicken">닭고기</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_peach" > 
                    <label for="checkbox-peach">복숭아</label>
                </span>
                <br><br>
                <span>
                    <input type="checkbox" name="checkbox_tomato" >
                    <label for="checkbox-tomato">토마토</label>
                </span>
                <span>
                    <input type="checkbox" name="checkbox_sulfurous_acid" > 
                    <label for="checkbox-sulfurous_acid">아황산류</label>
                </span>
                
            </div>
            <br>
            <button type="submit" >SUBMIT!</button>
        </form>
    </main>
    <footer>
        <script src="https://kit.fontawesome.com/c9ac2544ad.js" crossorigin="anonymous"></script>
    </footer>
</body>

</html>