<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1 class="searched">tlqkf</h1>

        <dir>
            
            <ul>
                <% for(i = 0; i < list.length; i++) { %>
                <li>
                    <%=list[i].id %>
                    <%=list[i].food_name %>
                    <%=list[i].food_info %>
                </li>
                <% } %>
            </ul>

            
        </dir>

    </main>
    <footer>

    </footer>
</body>
</html>