body {
    height: 100vh;
    background-color: #f9ed69;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nerko One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allergy_info-main{
    position: absolute;
    right: 10%;
    top: 10%;
}

.insert_info-main {
    position: absolute;
    right: 10%;
    top: 15%;
}


.search_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f08a5d;
    height: 100px;
    width: 600px;
    border-radius: 50px;

    color: #b83b5e;
}

.form-searchbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#search-option {
    appearance: none;
    background-color: rgba(1, 1, 1, 0);
    font-size: 1.5rem;
    font-family: 'Nerko One', cursive;
    color: #b83b5e;
    border: none;
    
}



#search_text {
    height: 50px;
    width: 400px;
    background-color: #f08a5d;
    border-style: none;
    border-bottom: 5px #b83b5e solid;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 40px;
    color: #b83b5e;
    text-align: center;
}

#search_text::placeholder {
    color: #ad3a5b;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nerko One', cursive;
    font-weight: bold;
    font-size: 40px;
    justify-content: center;
}



#search_btn {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
    color: #b83b5e;
}

